certifi==2020.12.5
chardet==4.0.0
csaps==1.0.3
future==0.18.2
idna==2.10
joblib==1.0.1
jsonpatch==1.32
jsonpointer==2.1
numpy==1.19.5
opencv-python==4.5.1.48
Pillow==8.2.0
pyzmq==22.0.3
requests==2.25.1
scikit-learn==0.24.1
scipy==1.5.4
six==1.15.0
threadpoolctl==2.1.0
torch==1.6.0
torchfile==0.1.0
torchvision==0.7.0
tornado==6.1
tqdm==4.59.0
ujson==4.0.2
urllib3==1.26.4
visdom==0.1.8.9
websocket-client==0.58.0
